{% extends "layout.njk" %}

{% block head %}
    <title>Foodfy - Recipe</title>
{% endblock %}

{% block wrapper %}
    <section class="accessed">
        <div class="most-accessed">
            {% for card in cards %}
                <div id="{{card.idRecipe}}" class="card-accessed">
                    <div class="img-accessed">
                        <img src="{{card.smallImage}}" alt="{{card.name}}">
                    </div>
                    <div class="card-content-accessed">
                        <h3>{{card.title}}</h3>
                        <span class="author">por {{card.author}}</span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}